<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">颜值测试</h1>
</div>
<div class="hbox">
	<div class="col w-xl bg-light dk b-r bg-auto">
		<div class="wrapper">
			<img class="img-full" src="img/mockup-face.jpg">
		</div>
		<div class="wrapper bg b-b">
			<img style="width:100px;" src="img/qrcode.png">
			<span class="m-l-sm">扫描二维码，体验一下。</span>
		</div>
	</div>
	<div class="col">
	    <div class="wrapper">
	      <ul class="timeline">
	      	<form name="forma" class="form-horizontal form-validation">
	        <li class="tl-header">
	          <div class="btn btn-info">创建流程</div>
	        </li>
	        <li class="tl-item">
	          <div class="tl-wrap b-primary">
	            <span class="tl-date">第一步</span>
	            <div class="tl-content panel padder b-a block">
		            <div class="panel-heading">
		              <strong>基本信息</strong>
		            </div>
		            <div class="panel-body">
		            	<div class="form-group">
		            		<label class="col-sm-3 control-label">商户图标</label>
			            	<div class="col-sm-6">
								<div class="inline bg-white wrapper-sm b-a">
									<div class="bg-light">
										<img src="img/store_face.png" style="width:50px;">
									</div>
								</div>
								<div class="inline m-b m-l">
									<input type="file" id="fileInput" />
								</div>
							</div>
						</div>    
		              <div class="form-group">
		                <label class="col-sm-3 control-label">商户名称</label>
		                <div class="col-sm-6">
		                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.g" required value="">
		                </div>
		              </div>                  
		              <div class="form-group">
		                <label class="col-sm-3 control-label">活动描述</label>
		                <div class="col-sm-6">
		                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.a" required value="">    
		                </div>
		              </div>
		              <div class="line line-dashed b-b line-lg pull-in"></div>
		              	<div class="form-group">
			                <label class="col-sm-3 control-label">限制参与人数</label>
			                <div class="col-sm-6">
			                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.a" required value="">    
			                </div>
			            </div> 
			            <div class="form-group">
			                <label class="col-sm-3 control-label">限制参与次数</label>
			                <div class="col-sm-6">
			                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.a" required value="">    
			                </div>
			            </div> 
						<div class="form-group">
						<label class="col-sm-3 control-label">开始日期</label>     
						  <div class="col-sm-6 ng-scope">
						    <div class="input-group w-md">
						      <input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-date ng-valid-required ng-valid-parse ng-touched" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required">
						      <span class="input-group-btn">
						        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						      </span>
						    </div>
						  </div> 
						</div>     
						<div class="form-group">
					      <label class="col-sm-3 control-label">结束日期</label>     
						  <div class="col-sm-6 ng-scope">
						    <div class="input-group w-md">
						      <input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-date ng-valid-required ng-valid-parse ng-touched" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required">
						      <span class="input-group-btn">
						        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
						      </span>
						    </div>
						  </div> 
						</div>
						<div class="line line-dashed b-b line-lg pull-in"></div> 
						<div class="form-group">
							<label class="col-sm-3 control-label">参与规则</label>
							<div class="col-sm-6">
								<div class="input-group mar-btn">
									<div class="radio ">
										<label>
											<input ng-init="boxes.rule.type = 'daily'" ng-click="boxes.rule.type = 'daily'; boxes.rule.count = ''" type="radio" name="optionsRadios" id="ruleRadios1" value="option1" checked="">
											活动期间，每日可参与&nbsp;&nbsp;<input ng-model="boxes.rule.dailyCount" type="number" ng-disabled="boxes.rule.type != 'daily'" class="ng-pristine ng-untouched ng-valid">&nbsp;&nbsp;次
										</label>
									</div>
									<div class="radio">
										<label>
											<input ng-click="boxes.rule.type = 'count'; boxes.rule.dailyCount = ''" type="radio" name="optionsRadios" id="ruleRadios2" value="option2">
											活动期间，共可以参与&nbsp;&nbsp;<input ng-model="boxes.rule.count" type="number" ng-disabled="boxes.rule.type != 'count'" class="ng-pristine ng-untouched ng-valid">&nbsp;&nbsp;次
										</label>
									</div>
								</div>
							</div>
						</div> 
						<div class="line line-dashed b-b line-lg pull-in"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label ">中奖率</label>
							<div class="col-sm-6">
								<div class="input-group w-md">
									<input ng-model="box.prob" name="boxProb" required="" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched">
									<!--input ng-model="box.prob" min="0.01" max="100" type="number" name="boxProb" so-number-check selected-by="1" rule="[0.01,100]" required class="form-control"-->
									<span class="input-group-addon">%</span>
								</div>
								<small class="help-block ">中奖概率需大于0.01%且小于等于100%</small>
								<label class="checkbox-inline">
						            <input type="checkbox" value="option1"> 必中一次
						        </label>
							</div>
						</div>
						<div class="form-group">
				          <label class="col-sm-3 control-label"></label>
				          <div class="col-sm-6">

				          </div>
				        </div>
		            </div>
		            <footer class="panel-footer text-right bg-light lter">
		              <button type="submit" class="btn btn-default">提交</button>
		            </footer>
	            </div>
	          </div>
	        </li>
	        <li class="tl-item">
	          <div class="tl-wrap b-primary">
	            <span class="tl-date">第二步</span>
	            <div class="tl-content panel padder b-a block">
		            <div class="panel-heading">
		              <strong>页面样式</strong>
		            </div>
		            <div class="panel-body">
		            	<div class="form-group">
		            		<label class="col-sm-3 control-label">默认图片</label>
			            	<div class="col-sm-6">
								<div class="inline bg-white wrapper-sm b-a">
									<div class="bg-light">
										<img src="img/store_face.png" style="width:100px;">
									</div>
								</div>
								<div class="inline m-b m-l">
									<input type="file" id="fileInput" />
								</div>
							</div>
						</div>   
						<div class="form-group">
		            		<label class="col-sm-3 control-label">默认头像</label>
			            	<div class="col-sm-6">
								<div class="inline bg-white wrapper-sm b-a">
									<div class="bg-light">
										<img src="img/store_face.png" style="width:50px;">
									</div>
								</div>
								<div class="inline m-b m-l">
									<input type="file" id="fileInput" />
								</div>
							</div>
						</div>  
		              <div class="form-group">
		                <label class="col-sm-3 control-label">默认文字</label>
		                <div class="col-sm-6">
		                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.g" required value="">
		                </div>
		              </div>                  
		          	</div>
		            <footer class="panel-footer text-right bg-light lter">
		              <button type="submit" class="btn btn-default">提交</button>
		            </footer>
	            </div>
	          </div>
	        </li>
	        <li class="tl-item">
	          <div class="tl-wrap b-primary">
	            <span class="tl-date">第三步</span>
	            <div class="tl-content panel padder b-a block">
		            <div class="panel-heading">
		              <a class="btn btn-primary fa fa-plus  pull-right" href="/manage/store/boxes/card?id=55adbdf9713839c968e6f33e"> 添加卡劵</a>
		              <strong>卡劵管理</strong>
		            </div>
		            <div class="panel-body"> 
						<div class="table-responsive">
							<table class="table" style="font-size:13px;">
								<thead>
								<tr>
									<th class="col-sm-1 ">卡劵名称</th>
									<th class="col-sm-2 ">有效期</th>
									<th class="col-sm-1 ">领取限制</th>
									<th class="col-sm-1 ">库存</th>
									<th class="col-sm-1 ">投放量</th>
									<th class="col-sm-2 ">中奖比率</th>
									<th class="col-sm-2">卡卷审核</th>
									<th class="col-sm-1 ">操作</th>

								</tr>
								</thead>
								<tbody>
								<tr class="ng-scope">
									<td class="">免费早餐</td>
									<td class="">领券当天生效，4天有效</td>
									<td>1</td>
									<td><span class="badge ">10</span></td>
									<td>
							            <div class="input-group">
											<input required="" class="form-control">
										</div>
									</td>
									<td>
							            <div class="input-group">
											<input required="" class="form-control">
											<span class="input-group-addon">%</span>
										</div>
									</td>
									<td>
										<span  class="label label-success  ng-scope">审核已通过</span>
									</td>
									<td>
										<a class="btn btn-default btn-xs btn-labeled fa fa-pencil " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 编辑</a>
										<a class="btn btn-default btn-xs btn-labeled fa fa-trash " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 删除</a>
									</td>

								</tr>
								<tr class="ng-scope">
									<td class="">暑期大促</td>
									<td class="">2015/07/20 - 2015/07/31</td>
									<td>2</td>
									<td><span class="badge badge-warning ">139</span></td>
									<td>
							            <div class="input-group">
											<input required="" class="form-control">
										</div>
									</td>
									<td>
							            <div class="input-group">
											<input required="" class="form-control">
											<span class="input-group-addon">%</span>
										</div>
									</td>
									<td>
										<span class="label label-success  ng-scope">审核已通过</span>
									</td>
									<td>
										<a class="btn btn-default btn-xs btn-labeled fa fa-pencil " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 编辑</a>
										<a class="btn btn-default btn-xs btn-labeled fa fa-trash " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 删除</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>                
		          	</div>
	            </div>
	          </div>
	        </li>
	        <li class="tl-item">
	          <div class="tl-wrap b-primary">
	            <span class="tl-date">第四步</span>
	            <div class="tl-content panel padder b-a block">
		            <div class="panel-heading">
		              <a class="btn btn-primary fa fa-plus  pull-right" href="/manage/store/boxes/card?id=55adbdf9713839c968e6f33e"> 添加规则</a>
		              <strong>中奖逻辑</strong>
		            </div>
		            <div class="panel-body">
		            	<div class="table-responsive">
							<table class="table" style="font-size:13px;">
								<thead>
								<tr>
									<th class="col-sm-1 ">性别</th>
									<th class="col-sm-1 ">颜值大于</th>
									<th class="col-sm-1 ">颜值小等于</th>
									<th class="col-sm-3 ">卡劵</th>
									<th class="col-sm-3 ">文案</th>
									<th class="col-sm-1 ">操作</th>
								</tr>
								</thead>
								<tbody>
								<tr class="ng-scope">
									<td class="">
										<select name="account" class="form-control m-b">
							              <option value="option 1">男</option>
							              <option value="option 2">女</option>
							            </select>
									</td>
									<td>
							            <div class="input-group">
											<input required="" class="form-control">
											<span class="input-group-addon">%</span>
										</div>
									</td>
									<td>
											<div class="input-group">
												<input required="" class="form-control">
												<span class="input-group-addon">%</span>
											</div>
									</td>
									<td>
										<select name="account" class="form-control m-b">
							              <option value="option 1">3元劵</option>
							              <option value="option 2">5元劵</option>
							              <option value="option 3">10元劵</option>
							            </select>
						            </td>
									<td>
										<div class="input-group">
							              <input type="text" class="form-control">
							              <div class="input-group-btn dropdown" dropdown="">
							              <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> 变量 <span class="caret"></span></button>
							                <ul class="dropdown-menu pull-right">
							                  <li><a href="">用户</a></li>
							                  <li><a href="">卡劵</a></li>
							                  <li><a href="">颜值</a></li>
							                </ul>
							              </div><!-- /btn-group -->
							            </div>
									</td>
									<td>
										<a class="btn btn-default btn-xs btn-labeled fa fa-pencil " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 编辑</a>
										<a class="btn btn-default btn-xs btn-labeled fa fa-trash " href="/manage/store/boxes/card?id=55adc9df86a321b07dcff52c"> 删除</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>         
		          	</div>
		            <footer class="panel-footer text-right bg-light lter">
		              <button type="submit" class="btn btn-default">提交</button>
		            </footer>
	            </div>
	          </div>
	        </li>
	        <li class="tl-item">
	          <div class="tl-wrap b-primary">
	            <span class="tl-date">第五步</span>
	            <div class="tl-content panel padder b-a block">
		            <div class="panel-heading">
		              <strong>分享设置</strong>
		            </div>
		            <div class="panel-body"> 
						<div class="form-group">
		            		<label class="col-sm-3 control-label">分享图标</label>
			            	<div class="col-sm-6">
								<div class="inline bg-white wrapper-sm b-a">
									<div class="bg-light">
										<img src="img/store_face.png" style="width:50px;">
									</div>
								</div>
								<div class="inline m-b m-l">
									<input type="file" id="fileInput" />
								</div>
							</div>
						</div>  
		              <div class="form-group">
		                <label class="col-sm-3 control-label">分享标题</label>
		                <div class="col-sm-6">
		                  <input type="text" class="form-control w-md" placeholder="" ng-model="g.g" required value="">
		                </div>
		              </div>                  
		          	</div>
		            <footer class="panel-footer text-right bg-light lter">
		              <button type="submit" class="btn btn-default">提交</button>
		            </footer>
	            </div>
	          </div>	        
	        </li>
	        <li class="tl-header">
	          <div class="btn btn-sm btn-default btn-rounded">完成</div>
	        </li>
	       	</form>
	      </ul>
	    </div>
	</div>
</div>