<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">基本信息</h1>
</div>
<div class="wrapper-md">
	<div class="row">
	      <div class="col-md-8 col-md-offset-2">
			<div>
				<div class="inline bg-white wrapper-sm b-a">
					<div class="bg-light">
						<img src="img/store_face.png">
					</div>
				</div>
				<div class="inline m-b m-l">
					设置头像
					<input type="file" id="fileInput" />
				</div>
				<button type="submit" class="btn btn-default">更换头像</button>
			</div>
			<hr>
	        <form name="forma" class="form-horizontal form-validation">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <strong>基本信息</strong>
	            </div>
	            <div class="panel-body">    
	              <div class="form-group">
	                <label class="col-sm-3 control-label">账号名</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" required value="云子X实验室" disabled="disabled">
	                </div>
	              </div>                  
	              <div class="form-group">
	                <label class="col-sm-3 control-label">邮箱</label>
	                <div class="col-sm-6">
	                  <input type="email" class="form-control" placeholder="" ng-model="g.a" required value="huiter@sensoro.com" disabled="disabled">    
	                </div>
	              </div>  
	              <div class="form-group">
	                <label class="col-sm-3 control-label">联系人</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" required value="回特" disabled="disabled">
	                </div>
	              </div>  
	              <div class="form-group">
	                <label class="col-sm-3 control-label">手机号</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" ng-pattern="/\([0-9]{3}\) ([0-9]{3}) ([0-9]{3})$/" required value="15210832621" disabled="disabled">
	                </div>
	              </div>            
	            </div>
	            <footer class="panel-footer text-right bg-light lter">
	              <button type="submit" class="btn btn-default">修改信息</button>
	            </footer>
	          </div>
	        </form>

	        <form name="forma" class="form-horizontal form-validation">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	              <strong>修改密码</strong>
	            </div>
	            <div class="panel-body">    
	              <div class="form-group">
	                <label class="col-sm-3 control-label">旧密码</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" required >
	                </div>
	              </div> 
	              <div class="form-group">
	                <label class="col-sm-3 control-label">新密码</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" required >
	                </div>
	              </div>  
	              <div class="form-group">
	                <label class="col-sm-3 control-label">密码验证</label>
	                <div class="col-sm-6">
	                  <input type="text" class="form-control" placeholder="" ng-model="g.g" required >
	                </div>
	              </div>         
	            </div>
	            <footer class="panel-footer text-right bg-light lter">
	              <button type="submit" class="btn btn-success">确认提交</button>
	            </footer>
	          </div>
	        </form>
	      </div>
	</div>
</div>